.cus-input-outline {
    border: 1px solid #ccc !important;
    padding: 5px 10px !important;
    border-radius: 4px !important;
}

/* Default styles */
.data-table td,
.data-table th {
    padding: 15px;
    font-size: 16px;
}

.admin-panel {
    --f7-panel-width: 80% !important;
}

/* Styles for viewports less than 600px wide */
@media (max-width: 600px) {

    .data-table td,
    .data-table th {
        padding: 10px;
        font-size: 14px;
    }
}

/* Styles for viewports less than 400px wide */
@media (max-width: 400px) {

    .data-table td,
    .data-table th {
        padding: 5px;
        font-size: 12px;
    }
}
